#diagrama_scrum {
    position: relative;
    overflow: visible;
    max-width: 1560px;
    max-height: 1200px;
    display: flex;
    align-items: center;
}

.clickable {
    position: absolute;
    display: block;
    /*background-color: red;*/
    /*opacity:  0.2;*/
}

.round {
    border-radius: 5px;
}

.green:hover {
    background-color: rgba(0, 100, 0, 0.2);
}

.red:hover {
    background-color: rgba(140, 0, 20, 0.2);
}

.blue:hover {
    background-color: rgba(0, 0, 200, 0.1);
}

.clickable:hover {
    cursor: pointer;
    transition: background-color 0.3s;
}

#elencar_necessidades {
    width: 11%;
    height: 5.5%;
    top: 16.9%;
    left: 16.5%;
}

#criar_product_backlog {
    width: 12.5%;
    height: 6%;
    top: 26%;
    left: 30.5%;
}

#atualizar_product_backlog {
    width: 11.8%;
    height: 5.74%;
    top: 31.45%;
    left: 5.8%;
}

#definir_ferramentas_metodos_sprint {
    width: 8.2%;
    height: 5.7%;
    top: 41%;
    left: 45.4%;
}

#criar_documentacao {
    width: 8.8%;
    height: 2.2%;
    top: 43%;
    left: 58%;
}

#planejar_sprint {
    width: 6.9%;
    height: 3.5%;
    top: 33.6%;
    left: 67.4%;
}

#executar_atividades_sprint {
    width: 8%;
    height: 5.2%;
    top: 32.6%;
    left: 85.4%;
}

#realizar_reuniao_periodica {
    width: 6.5%;
    height: 6.7%;
    top: 16.5%;
    left: 86.15%;
}

#revisao_sprint {
    width: 7%;
    height: 2.8%;
    top: 46.9%;
    left: 86%;
}

#retrospectiva_sprint {
    width: 8.8%;
    height: 3.2%;
    top: 65.1%;
    left: 78.65%;
}

#atualizar_documentacao {
    width: 11.1%;
    height: 3.5%;
    top: 65%;
    left: 55.1%;
}

#conferir_novas_necessidades {
    width: 7.9%;
    height: 4.8%;
    top: 51.3%;
    left: 15.5%;
}

#conferir_produto_finalizado {
    width: 7.9%;
    height: 4.82%;
    top: 70.6%;
    left: 15.5%;
}

#product_backlog1{
    width: 7.5%;
    height: 2.3%;
    top: 20.9%;
    left: 47%;
}

#product_backlog2{
    width: 6.1%;
    height: 2.3%;
    top: 39.7%;
    left: 72%;
}

#product_backlog3{
    width: 6%;
    height: 3%;
    top: 75%;
    left: 85.5%;
}

#product_backlog4{
    width: 6.6%;
    height: 2.3%;
    top: 66.6%;
    left: 10%;
}

#product_backlog5{
    width: 6.7%;
    height: 2.2%;
    top: 84.7%;
    left: 9%;
}

#product_backlog6{
    width: 6.7%;
    height: 2.2%;
    top: 39.5%;
    left: 3.1%;
}

#sprint_backlog{
    width: 5.15%;
    height: 3.5%;
    top: 26.5%;
    left: 78.35%;
}

#relatorio_sprint{
    width: 6.6%;
    height: 3.5%;
    top: 51.8%;
    left: 73%;
}

#relatorio_sprint2{
    width: 6.1%;
    height: 4.65%;
    top: 71.5%;
    left: 74.2%;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

btn:hover {
    background-color: RoyalBlue;
}
