body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topics {
    padding: 2em 6em 2em 6em;
    font-size: 1.2rem;
    text-align: justify;
}

.topic {
    max-width: 1200px; 
    margin: 0 auto; 
	padding: 25px;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-radius: 8px;
	box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;

	margin-bottom: 1.5rem;
}

.topic_selected {
	border-color: blue !important;
	border-width: 2px;
}

.topics h1 {
    font-size: 2.4rem;
    margin-bottom: 0.4rem;
}

.topics h2 {
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
	text-decoration: underline;
}

.topics h2:not(:first-child) {
    margin-top: 1.4rem;
}

.topics q {
    display: inline-block;
    font-style: italic;
}

.topics p, .topics q {
    margin-bottom: 0.5rem;
}

.topics ul {
    list-style-position: inside;
	margin-top: 0.4rem;
	margin-bottom: 0.2rem;
    margin-left: 0.5rem;
}

@media  screen and (max-width: 768px){
    body {
    align-items: initial;
    }
    .topics {
        padding: 0.5em;
    }
    
}
