#diagrama_scrum {
    position: relative;
    overflow: visible;
    max-width: 1560px;
    max-height: 1000px;
}

.clickable {
    position: absolute;
    display: block;
}

.round {
    border-radius: 5px;
}

.green:hover {
    background-color: rgba(0, 100, 0, 0.2);
}

.red:hover {
    background-color: rgba(140, 0, 20, 0.2);
}

.clickable:hover {
    cursor: pointer;
    transition: background-color 0.3s;
}

#captacao {
    width: 13.4%;
    height: 6.5%;
    top: 27%;
    left: 7%;
} 
#revisao_estorias {
    width: 11.5%;
    height: 6.5%;
    top: 52%;
    left: 7.8%;
}
#elaboracao_backlog {
    width: 11%;
    height: 6.5%;
    top: 69.2%;
    left: 8%;
}
#planejar_sprint {
    width: 11%;
    height: 4%;
    top: 16.5%;
    left: 64%;
}
#executar_atividades {
    width: 14%;
    height: 6.5%;
    top: 32%;
    left: 62.3%;
}
#reuniao {
    width: 10.5%;
    height: 4%;
    top: 33%;
    left: 85.5%;
}
#revisao_sprint {
    width: 14.3%;
    height: 6.5%;
    top: 49.5%;
    left: 62.3%;
}
#realizar_retrospectiva {
    width: 14.3%;
    height: 6.5%;
    top: 64%;
    left: 62.3%;
}