#diagrama_scrum {
    position: relative;
    overflow: visible;
    max-width: 1560px;
    max-height: 1000px;
}

.clickable {
    position: absolute;
    display: block;
}

.round {
    border-radius: 5px;
}

.green:hover {
    background-color: rgba(0, 100, 0, 0.2);
}

.red:hover {
    background-color: rgba(140, 0, 20, 0.2);
}

.blue:hover {
    background-color: rgba(0, 0, 200, 0.1);
}

.clickable:hover {
    cursor: pointer;
    transition: background-color 0.3s;
}

#captacao {
    width: 13.4%;
    height: 5.6%;
    top: 22%;
    left: 6.9%;
} 
#revisao_historias {
    width: 11.5%;
    height: 5.6%;
    top: 42.6%;
    left: 7.9%;
}
#elaboracao_backlog {
    width: 11.1%;
    height: 5.6%;
    top: 56.5%;
    left: 7.8%;
}
#planejar_sprint {
    width: 11.2%;
    height: 3.3%;
    top: 14.1%;
    left: 67.1%;
}
#executar_atividades {
    width: 14.2%;
    height: 5.6%;
    top: 29%;
    left: 65.6%;
}
#reuniao {
    width: 10.6%;
    height: 3.3%;
    top: 30.1%;
    left: 84.9%;
}
#revisao_sprint {
    width: 14.5%;
    height: 5.6%;
    top: 46%;
    left: 65.4%;
}
#realizar_retrospectiva {
    width: 14.6%;
    height: 5.6%;
    top: 63.5%;
    left: 65.3%;
}
#verificar_product_backlog {
    width: 14.5%;
    height: 5.6%;
    top: 63.5%;
    left: 35.3%;
}
#verificar_historias {
    width: 14.4%;
    height: 5.6%;
    top: 78.7%;
    left: 9.3%;
}